.ozz-block-editor-hidden-form-dom {
  display: none;
}
.ozz-block-editor-wrapper {
  &.lay1 {
    .ozz-block-editor {
      grid-template-columns: 150px 1fr;
      &__block-picker-content {
        grid-template-columns: 1fr;
      }
    }
  }
  &.lay2 {
    .ozz-block-editor {
      grid-template-columns: 280px 1fr;
      &__block-picker-content {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .ozz-block-editor-head {
    display: grid;
    grid-template-columns: 1fr 30px;
    .ozz-block-editor-expand-button {
      @include icon-sprite;
      width: 30px;
      height: 30px;
      padding-bottom: 10px;
      background-position: -110px -79px;
      transition: opacity .2s ease-in;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
  &.expanded {
    position: fixed;
    width: calc(100% - 200px);
    height: 100vh;
    top: 46px;
    left: 200px;
    padding: 20px;
    background: color(light1);
    overflow-y: auto;
    z-index: 997;
    .ozz-block-editor-head {
      position: fixed;
      top: 50px;
      width: calc(100% - 240px);
      grid-template-columns: 1fr 40px;
      padding-top: 10px;
      z-index: 996;
      .ozz-block-editor-expand-button {
        background-position: -148px -79px;
      }
    }
    .ozz-block-editor {
      margin-top: 30px;
      padding: 0 0 120px;
      width: calc(100% - 50px);
      &__block-picker {
        top: 30px;
      }
      &__block-picker-head {
        top: 30px;
      }
      &__block-picker-content {
        top: 78px;
      }
    }
    &.collapsed {
      width: calc(100% - 46px);
      left: 46px;
      .ozz-block-editor-head {
        width: calc(100% - 86px);
      }
    }
  }
}
.ozz-block-editor {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-gap: 7px;
  background: color(light1);
  padding: 14px;
  border-radius: $radius1;
  // Block stock
  &__block-picker-head {
    position: sticky;
    top: 60px;
    width: calc(100% - 14px);
    margin-bottom: 14px;
    border-radius: 5px;
    color: color(dark1);
    .lay {
      @include icon-sprite;
      display: inline-table;
      width: 30px;
      height: 30px;
      margin: 0 !important;
      font-size: 0;
      &:hover {
        border-color: color(primary);
      }
    }
    .lay1 {
      background-position: -153px -113px;
    }
    .lay2 {
      background-position: -188px -113px;
    }
  }
  &__block-picker-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    padding: 0 12px 60px 0;
    margin-bottom: auto;
    position: sticky;
    top: 102px;
    max-height: 100vh;
    overflow-y: auto;
    li.pick-block {
      padding: 14px 10px 14px 26px;
      background: color(white);
      list-style: none;
      border: 1px solid rgba(color(primary), 0.5);
      border-radius: $radius1;
      text-align: left;
      font-size: $font-small-2;
      position: relative;
      box-shadow: $shadow1;
      word-wrap: anywhere;
      cursor: grab;
      &:before {
        @include icon-draggable();
        content: '';
        width: 15px;
        height: 15px;
        position: absolute;
        left: 6px;
        top: 16px;
        background-size: contain;
      }
      &:hover {
        background: color(primary);
        color: color(white);
        &:before {
          @include icon-draggable(white);
        }
      }
    }
  }
  &.layout-2 {
    grid-template-columns: 150px 1fr;
    .ozz-block-editor__block-picker-content {
      grid-template-columns: 1fr;
    }
  }
  &__form-loader {
    .missing-block {
      padding: 14px 24px;
      background: rgba(color(danger), 0.1);
      border-radius: $radius1;
      margin-bottom: 14px;
      p {
        margin: 0;
        strong {
          color: color(danger);
        }
      }
      .light-text {
        color: rgba(color(danger), 0.8);
      }
    }
    li {
      list-style: none;
    }
    .sortable-ghost {
      background: color(white);
      padding: 14px;
      border-radius: $radius1;
      margin-bottom: 14px;
      font-size: 18px;
      color: color(primary);
      font-weight: 600;
    }
    .ozz-used-block {
      background: color(white);
      border-radius: $radius1;
      box-shadow: $shadow1;
      &:not(:last-child) {
        margin-bottom: 14px;
      }
      &:hover {
        .ozz-block-accordion-bar {
          .ozz-block-delete-trigger {
            display: block;
          }
        }
      }
      .ozz-block-accordion-bar {
        display: grid;
        grid-template-columns: 42px 1fr 18px 24px;
        grid-gap: 14px;
        padding: 14px;
        align-items: center;
        cursor: grab;
        > div {
          h4,
          p {
            margin: 0;
          }
          h4 {
            color: color(primary);
          }
        }
        .ozz-handle {
          @include icon-draggable();
          width: 42px;
          height: 42px;
        }
        .ozz-block-delete-trigger {
          @include icon-delete();
          width: 18px;
          height: 24px;
          background-size: contain;
          cursor: pointer;
        }
        .ozz-accordion-arrow {
          @include icon-arrow1();
          width: 24px;
          height: 24px;
          transform: rotate(90deg);
        }
        &.active {
          .ozz-accordion-arrow {
            transform: rotate(-90deg);
          }
        }
      }
      .ozz-accordion-body {
        display: none;
        padding: 14px;
        &.active {
          display: block;
        }
      }
    }
  }
}
.block-editor-field {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
