// Listings
.listing-s1 {
  &__title {
    display: block;
    font-size: $font-normal;
  }
  .note {
    padding-top: 8px;
    display: block;
  }
  .slug {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: $font-small-2;
    color: color(dark);
    background: color(light2);
    border: 1px solid color(silver);
  }
  .table {
    width: 100%;
    &__tr-wrapper {
      display: grid;
      grid-template-columns: 1fr auto;
      background: color(white);
      margin-bottom: 1px;
      border-left: 2px solid color(primary);
      border-radius: 3px;
      box-shadow: $shadow1;
      &:hover {
        background: color(light2);
        .listing-s1__title {
          color: color(primary);
        }
      }
    }
    &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-rows: 100% auto;
      align-items: center;
    }
    &__cell {
      display: block;
      align-items: center;
      width: 100%;
      padding: 10px 10px 10px 16px;
    }
    &__action {
      display: grid;
      height: 100%;
      align-items: center;
    }
  }
  &__top-bar {
    padding: 10px 14px;
    margin-bottom: 4px;
    background: color(white);
    color: color(dark);
    box-shadow: $shadow1;
    border-radius: 3px;
    strong {
      color: color(primary-dark);
    }
    .align-right {
      text-align: right;
    }
    .align-left {
      text-align: left;
    }
  }
}

// Listing type 2
.listing-s2 {
  &__header {
    background: color(white);
    padding: 8px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  &__filter {
    .tab-button {
      margin-right: 5px;
    }
  }
  table {
    border-collapse: separate;
    border-spacing: 0 1px;
    width: 100%;
    thead {
      position: sticky;
      top: 46px;
      z-index: 100;
      tr {
        background: color(light2);
        padding: 14px;
        th {
          font-size: $font-small-2;
          text-align: left;
          padding: 5px 14px;
          color: color(dark2);
        }
      }
    }
    tbody {
      tr {
        position: relative;
        background: color(white);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        cursor: pointer;
        .row-number {
          padding: 14px;
          margin-top: 2px;
          font-weight: 500;
          color: color(gray1);
        }
        &:hover {
          background: color(light2);
          .title {
            color: color(primary);
          }
          .tr-action {
            .show-on-hover {
              display: flex;
            }
          }
        }
        td {
          padding: 10px 14px;
          border: none;
          .title {
            font-size: $font-small-3;
            font-weight: 500;
            color: color(dark);
          }
        }
        .anchor-wrapper {
          position: absolute;
          display: inline-block;
          left: 0;
          top: 0;
          width: calc(100% - 200px);
          height: 100%;
        }
      }
      .tr-action {
        text-align: right;
        padding: 6px 10px 0 0;
        .show-on-hover {
          display: none;
          justify-content: right;
          gap: 0 6px;
        }
      }
    }
  }
  .action-form {
    button {
      cursor: pointer;
      padding: 0;
      border: none;
      background: transparent;
    }
  }
  &__empty {
    padding: 42px 24px;
    text-align: center;
    color: color(gray1);
    background: color(white);
  }
}
