*, *:after, *:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body.ozz-cms {
  background: color(light1);
  .app-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 42px;
    main {
      max-width: calc(100% - 42px);
      padding-bottom: 80px;
    }
  }
  .container {
    max-width: 1200px;
  }
}
