// Variables
$mono: 'monospace', sans-serif;

// Colors
$ozz-white: #ffffff;
$ozz-blue: #666EE8;
$ozz-darkBlue: #3E46B1;
$ozz-light1: #f1f2f6;
$ozz-light2: #dfe4ea;
$ozz-light3: #ced6e0;
$ozz-light4: #a4b0be;
$ozz-dark1: #2f3542;
$ozz-dark2: #747d8c;
$ozz-warn: #ffa502;
$ozz-error: #ff4757;
$ozz-info: #2e86de;
$ozz-red: #B91E1D;
$ozz-purple: #940094;
$ozz-green: #066046;