@import '_core';
:root {
  --ozz-white: #ffffff;
  --ozz-blue: #666EE8;
  --ozz-darkBlue: #3E46B1;
  --ozz-light1: #f1f2f6;
  --ozz-light2: #dfe4ea;
  --ozz-light3: #ced6e0;
  --ozz-light4: #a4b0be;
  --ozz-dark1: #2f3542;
  --ozz-dark2: #747d8c;
  
  --ozz-warn: #ffa502;
  --ozz-error: #ff4757;
  --ozz-info: #2e86de;
}

$border-1: 1px solid var(--ozz-light2);

.ozz__debugbar {
  all: unset;
}
.ozz-fw-debug-bar {
  all: unset;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  background: var(--ozz-white);
  border-top: 2px solid var(--ozz-blue);
  z-index: 99999;
  &.open {
    height: 380px;
    .tab-body {
      height: calc(380px - 35px);
    }
  }
  &.expanded {
    height: 100vh;
    .tab-body {
      height: calc(100vh - 35px);
    }
    .ozz__dbg_view-comp-wrapper {
      > div {
        height: calc(100vh - 35px);
      }
    }
  }
  * {
    text-align: left;
    font-family: $default-font;
    font-weight: 400;
    font-size: 15px;
  }
  span {
    color: var(--ozz-dark1);
    b,
    strong,
    &.label {
      all: unset;
      font-weight: 600;
    }
  }
  &__nav {
    height: 36px;
    background: var(--ozz-white);
    border-bottom: $border-1;
    &.wrapper {
      display: flex;
      gap: 0;
    }
    .item {
      height: 35px;
      padding: 0 10px 2px;
      background: var(--ozz-white);
      color: var(--ozz-dark1);
      border: none;
      outline: none;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      .count {
        font-weight: 600;
        color: var(--ozz-blue);
      }
      &:hover {
        background: var(--ozz-light1);
      }
      &.active {
        background: var(--ozz-blue);
        color: var(--ozz-white);
        .count {
          color: var(--ozz-white);
        }
      }
      &.expand-button {
        width: 35px;
        background: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.20934 5.71941L12.1593 0.769409L13.5733 2.18341L7.20934 8.54741L0.845337 2.18341L2.25934 0.769409L7.20934 5.71941Z' fill='%232B2E3F'/%3E%3C/svg%3E%0A") center center no-repeat;
        position: absolute;
        right: 0;
        top: 0;
        rotate: 180deg;
        &:hover {
          background-color: var(--ozz-light1);
        }
        &.expanded {
          rotate: 0deg;
        }
      }
    }
  }
  .tab-body {
    overflow-y: auto;
    &:not(.view) {
      padding-bottom: 30px;
    }
  }
  &__body {
    padding: 0;
    .tab-body {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &__empty {
    padding: 5px 10px;
    font-size: 14px;
  }
  &-tab__message {
    &.w { color: var(--ozz-warn); background: var(--ozz-warn); }
    &.e { color: var(--ozz-error); background: var(--ozz-error); }
    &.i { color: var(--ozz-info); background: var(--ozz-info); }
    &.w::before,
    &.e::before,
    &.i::before {
      content: ''; 
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 6px;
      top: 12px;
      left: 12px;
    }
  }
  &-tab__message,
  &-tab__message-controller,
  &-tab__message-queries,
  &-tab__message-request {
    &:not(.console-msg) {
      &:hover {
        background: var(--ozz-light1);
      }
    }
  }
  &-tab__message-request,
  &-tab__message-session,
  &-tab__message-controller {
    border-bottom: $border-1;
    padding: 7px 5px 7px 20px;
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: var(--ozz-dark1);
    .label {
      padding-right: 30px;
      background: transparent;
    }
    &:hover {
      background: var(--ozz-light1);
    }
  }
  &-tab__message-request,
  &-tab__message-session {
    * {
      line-height: 1.5;
    }
  }
  &-tab__message {
    &.console-msg {
      padding-left: 30px;
      margin-top: 0;
    }
  }

  // Queries tab
  &-tab__message-queries {
    all: unset;
    border-bottom: $border-1;
    font-size: 14px;
    margin: 0;
    padding: 10px 5px 10px 20px;
    position:relative;
    color: var(--ozz-dark1);
    display: grid;
    grid-template-columns: 1fr 100px;
    span.high-txt {
      color: var(--ozz-info);
    }
  }

  // View Tab
  &-tab__message-view pre {
    all: unset;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
  &-tab__message-view-component {
    border-bottom: $border-1;
    padding: 8px 0;
    .dumpr {
      margin-left: 12px;
    }
    span.green {
      color: var(--ozz-dark1);
      font-size: 14px;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 3px;
      display: inline-block;
      background: var(--ozz-light1);
      border: 1px solid var(--ozz-light3);
      cursor: pointer;
    }
  }
  .ozz__dbg_view-comp-wrapper {
    all: unset;
    display: grid;
    grid-template-columns: 0.8fr 2fr 1.5fr;
    grid-gap: 0;
    > div {
      height: calc(380px - 35px);
      overflow-y: auto;
      padding: 0;
      > div {
        padding: 10px 10px 30px;
      }
    }
    .ozz__dbg_view-head {
      padding: 10px;
      font-size: 14px;
      font-weight: 500;
      border-bottom: $border-1;
      strong {
        font-weight: 600;
      }
    }
    .ozz__dbg_view-info {
      border-left: $border-1;
      .dumpr {
        padding-left: 30px !important;
      }
    }
    .ozz__dbg_component-info {
      border-left: $border-1;
    }
  }

  // Dumper
  .dumpr {
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0 !important;
    background: transparent !important;
    div,
    pre {
      padding: 0 !important;
      border: none !important;
      background: transparent !important;
    }
    > div {
      margin: 3px 0 0 !important;
      border: none !important;
    }
    * {
      background: transparent !important;
    }
    .xdebug-var-dump {
      > small {
        display: none;
      }
    }
  }

  /* Pretty JSON */
  .json-viewer {
    margin: 5px 0 0;
  }
  .ozz_debugbar__collapse_btn {
    all: unset;
    padding: 5px;
    font-size: 14px;
    background: var(--ozz-dark2);
    margin-left: -20px;
    border-radius: 3px;
    color: var(--ozz-white);
    cursor: pointer;
  }
}
