body {
  &.nav-collapsed {
    .cms-global-search__result {
      translate: calc(-50% + -44px) 0;
    }
  }
}
.cms-global-search {
  display: flex;
  justify-content: center;
  .search-wrapper {
    position: relative;
    &:before {
      @include icon-search;
      content: '';
      position: absolute;
      left: 11px;
      top: 5px;
      width: 35px;
      height: 35px;
      z-index: 1;
    }
    input {
      width: 500px;
      border: 1px solid color(silver);
      border-radius: 5px;
      margin: 5px 0 0 10px;
      font-size: $font-small-2;
      padding-left: 40px;
    }
  }
  &__result-wrapper {
    position: fixed;
    display: none;
    z-index: 2;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(color(secondary), 0.2);
    &.active {
      display: block;
    }
  }
  &__result {
    position: absolute;
    max-height: 80vh;
    overflow-y: auto;
    opacity: 0;
    left: 50%;
    top: 3px;
    translate: calc(-50% + 33px) 0;
    width: 500px;
    background: color(light2);
    border-radius: 5px;
    box-shadow: $dark-shadow1;
    border: 1px solid color(white);
    li {
      list-style: none;
      &:not(:last-of-type) {
        border-bottom: 1px solid color(silver);
      }
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        font-size: $font-small-2;
        &:hover {
          background: color(light1);
        }
      }
      span {
        &:first-of-type {
          max-width: 80%;
        }
      }
    }
  }
}