.cms-header {
  z-index: 998;
  padding: 0 42px;
  &,
  &__right-content,
  &__language-switch {
    height: 46px;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  &__right-content {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-gap: 20px;
  }
  &__action-injection {
    width: 0;
  }
  &__user-info {
    position: relative;
    height: 46px;
    margin-top: 6px;
    padding: 0 10px;
    &:hover {
      .cms-header__info {
        display: block;
      }
    }
    .mode-switcher {
      display: flex;
      align-items: center;
    }
  }
  &__avatar {
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 35px;
      height: 35px;
      object-fit: cover;
    }
  }
  &__info {
    display: none;
    position: absolute;
    padding: 20px;
    top: 40px;
    right: 0;
    background: color(white);
    box-shadow: $shadow1;
    .user-info {
      display: grid;
      grid-template-columns: 60px 1fr;
      grid-gap: 20px;
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    p {
      display: block;
      padding: 0 0 16px 0;
      margin: 0;
      font-size: $font-small-3;
    }
    a.button {
      text-align: center;
    }
  }
  &__language-switch {
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 4px;
      height: 30px;
      border: 1px solid color(silver);
      width: 66px;
      left: -6px;
      border-radius: 5px;
      background-color: color(light2);
      z-index: -1;
    }
    &:hover {
      .dropdown {
        display: block;
      }
    }
    .current-lang {
      position: relative;
      width: 53px;
      height: 38px;
      display: flex;
      align-items: center;
      padding: 6px 35px 6px 6px;
      font-size: $font-small-2;
      &:after {
        @include icon-arrow1();
        position: absolute;
        width: 20px;
        height: 20px;
        transform: rotate(90deg);
        right: 0;
        content: '';
      }
    }
    .dropdown {
      display: none;
      position: absolute;
      top: 27px;
      left: -4px;
      max-height: 80vh;
      overflow-y: auto;
      padding: 0;
      text-align: left;
      box-shadow: $shadow1;
      background: color(white);
      li {
        list-style: none;
        a {
          display: inline-block;
          width: 100%;
          padding: 6px 20px;
          background: color(white);
          &:hover {
            background: color(primary);
            color: color(white);
          }
        }
      }
    }
  }
}
// Main nav
.cms-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  width: 200px;
  padding-top: 100px;
  background: color(dark);
  z-index: 999;
  &__nav-collapse-trigger {
    @include icon-sprite;
    position: absolute;
    display: inline-block;
    top: 0;
    right: -45px;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    background-position: 12px -141px;
    background-color: color(light2);
    &:hover {
      background-color: color(light1);
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 24px;
    text-align: center;
    img {
      object-fit: contain;
    }
  }
  > ul {
    height: 100%;
    padding: 0;
    margin: 0;
    > li {
      padding: 0;
      list-style: none;
      &.has-child {
        &:hover {
          > a {
            color: color(white);
            background: color(primary);
            &:before {
              background-color: color(primary);
              background-position-y: -30px !important;
              opacity: 1;
            }
          }
          > ul {
            display: block;
          }
        }
      }
      &.active {
        > a {
          color: color(white);
          background: color(dark1);
          &:before {
            background-position-y: -30px !important;
            opacity: 1;
          }
        }
      }
      > a {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 15px 8px 12px 60px;
        font-family: $rub-m;
        font-size: $font-small-3;
        color: color(semi-blue);
        &:before {
          position: absolute;
          width: 46px;
          height: 45px;
          left: 0;
          top: 0;
          opacity: 0.7;
          content: '';
        }
        &.dashboard {
          &:before {
            @include icon-dashboard;
          }
          &:hover {
            &:before {
              background-position: 12px -30px;
            }
          }
        }
        &.posts {
          &:before {
            @include icon-posts;
          }
          &:hover {
            &:before {
              background-position: -27px -30px;
            }
          }
        }
        &.blocks {
          &:before {
            @include icon-blocks;
          }
          &:hover {
            &:before {
              background-position: -68px -30px;
            }
          }
        }
        &.taxonomy {
          &:before {
            @include icon-taxonomy;
          }
          &:hover {
            &:before {
              background-position: -105px -32px;
            }
          }
        }
        &.media {
          &:before {
            @include icon-media;
          }
          &:hover {
            &:before {
              background-position: -180px -30px;
            }
          }
        }
        &.settings {
          &:before {
            @include icon-settings;
          }
          &:hover {
            &:before {
              background-position: -142px -31px;
            }
          }
        }
        &:hover {
          color: color(white);
          background: color(primary) !important;
          &:before {
            background-color: color(primary) !important;
            opacity: 1;
          }
        }
      }
      // Sub Nav
      > ul {
        display: none;
        position: absolute;
        width: 250px;
        height: 100%;
        left: 100%;
        top: 0;
        padding: 0 0 40px;
        background: color(dark1);
        overflow-y: auto;
        label {
          position: sticky;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          top: 0;
          width: 100%;
          padding: 24px 10px 24px 20px;
          background: color(dark1);
          color: color(white);
        }
        > li {
          padding: 0;
          list-style: none;
          &.active {
            a {
              background: color(dark2);
            }
          }
          a {
            color: color(white);
            font-size: $font-small-3;
            font-family: $rub;
            padding: 10px 10px 10px 20px;
            display: inline-block;
            width: 100%;
            &:hover {
              background: color(primary);
              color: color(white);
            }
          }
        }
      }
    }
  }
  &.collapsed {
    width: 46px;
    .cms-nav__logo {
      width: 46px;
      padding: 20px 3px;
      img {
        max-width: 40px;
      }
    }
    > ul {
      > li {
        > a {
          display: block;
          color: transparent;
          font-size: 0;
          height: 45px;
          padding: 0;
          &:before {
            top: 0;
          }
        }
      }
    }
    .nav-collapse-trigger {
      transform: rotate(0deg);
    }
  }
}
