.breadcrumb {
  padding: 20px 0 10px;
  span {
    position: relative;
    margin-right: 16px;
    padding-left: 16px;
    &:before {
      @include icon-arrow1(dark2);
      position: absolute;
      width: 8px;
      height: 10px;
      left: 0;
      top: 24%;
      transform: scale(0.8) rotate(180deg);
      content: '';
    }
    a {
      font-size: $font-small-2;
      color: color(dark1);
    }
  }
  + h1 {
    margin-top: 0;
    margin-bottom: 18px;
  }
}
a {
  color: color(secondary);
  text-decoration: none;
}
.light-text {
  color: color(gray1);
  font-size: $font-small-2;
}
.align-right {
  text-align: right;
}
.f-14 {
  font-size: $font-small-2;
}

.icon-button {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  font-size: 0;
  &:hover {
    filter: brightness(.8);
  }
  &.edit {
    @include icon-edit();
    background-color: rgba(color(success), .2);
  }
  &.delete {
    @include icon-delete();
    background-color: rgba(color(danger), .2);
  }
  &.publish {
    @include icon-publish();
    background-color: rgba(color(success), .2);
  }
  &.draft {
    @include icon-draft();
    background-color: rgba(color(warning), .2);
  }
  &.duplicate {
    @include icon-duplicate();
    background-color: rgba(color(blue), .2);
  }
}

// Info Labels (Danger, Warning, Success, Info)
.label {
  padding: 3px 8px;
  font-size: $font-small-2;
  border-radius: 5px;
  text-transform: capitalize;
  &.trash,
  &.danger {
    color: color(danger);
    background-color: rgba(color(danger), .1);
  }
  &.published,
  &.success {
    color: color(success);
    background-color: rgba(color(success), .1);
  }
  &.draft,
  &.warning {
    color: color(warning);
    background-color: rgba(color(warning), .1);
  }
  &.info {
    color: color(blue);
    background-color: rgba(color(blue), .1);
  }
  // Status Dot
  &.dot {
    display: inline-block;
    padding: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transform: translateY(-4px);
    &.trash,
    &.danger {
      background: color(danger);
    }
    &.published,
    &.success {
      background-color: color(success);
    }
    &.draft,
    &.warning {
      background-color: color(warning);
    }
    &.info {
      background-color: color(blue);
    }
  }
}

// CMS Forms
.form,
.ozz-fm {
  * {
    font-size: 15px;
  }
  .ozz-default-save-button {
    position: fixed;
    top: 5px;
    right: 200px;
    z-index: 999;
    &.edit,
    &.create {
      padding-left: 40px;
      &:before {
        @include icon-sprite;
        content: '';
        position: absolute;
        left: 13px;
        top: 7px;
        width: 20px;
        height: 20px;
        transform: scale(0.9);
      }
    }
    &.edit {
      &:before {
        background-position: -193px -81px;
      }
    }
    &.create {
      &:before {
        background-position: 0 -117px;
      }
    }
  }
  .ozz-fm__field {
    &.cl {
      padding-right: 14px;
      &.cl-6 {
        & + .cl-6 {
          padding-right: 0;
        }
      }
    }
    &:first-child {
      border-radius: 5px 5px 0 0;
    }
    &:last-child {
      padding-bottom: 18px;
      border-radius: 0 0 $radius1 $radius1;
    }
  }
  &__field {
    margin-bottom: 30px;
    label {
      font-family: $rub-m;
      display: inline-block;
      padding-bottom: 8px;
    }
    .field_note {
      float: right;
      padding-right: 5px;
      color: color(gray1);
      font-style: italic;
      font-size: $font-small-2;
    }
    select,
    textarea,
    input {
      width: 100%;
      padding: 8px;
      background-color: rgba(color(primary), 0.03);
    }
  }
  &__switch-checkbox {
    label {
      transform: translateY(-3px);
    }
  }
  .field-error {
    font-size: $font-small;
    color: color(danger);
  }
  &__multiselect {
    position: relative;
    ul {
      display: none;
    }
    &-dropdown {
      position: absolute;
      z-index: 1;
      width: 100%;
      background: color(white);
      padding: 0;
      margin: 0;
      border-radius: 5px;
      overflow: auto;
      max-height: 200px;
      box-shadow: $shadow1;
      &.active {
        display: block;
      }
      li {
        position: relative;
        padding: 6px 10px 6px 30px;
        list-style: none;
        color: color(dark1);
        font-family: $rub;
        font-size: $font-small-2;
        cursor: pointer;
        &::before {
          content: '';
          position: absolute;
          top: 7px;
          left: 10px;
          width: 14px;
          height: 14px;
          border-radius: 3px;
          background: color(light2);
          border: 1px solid color(silver);
        }
        &:hover {
          background: color(light2);
        }
        &.selected {
          &::before {
            background: color(blue);
          }
        }
      }
    }
    &--selected {
      position: relative;
      z-index: 0;
      margin-top: 3px;
      .button {
        position: relative;
        padding-right: 25px;
        margin: 5px 5px 0 0;
        .remove-btn {
          @include icon-sprite;
          position: absolute;
          display: inline-block;
          top: -6px;
          right: -3px;
          width: 28px;
          height: 40px;
          background-position: -37px -107px;
          scale: 0.7;
          opacity: 0.6;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

// Checkbox / Radio
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  appearance: none;
  width: 18px;
  height: 18px;
  background: color(light1);
  border-radius: 4px;
  border: 1px solid rgba(color(semi-blue), 0.3);
  transition: .3s ease-in-out;
  &:checked {
    &:after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background: color(blue);
      left: 3px;
      top: 3px;
      border-radius: 2px;
    }
  }
  &.switch {
    width: 50px;
    height: 28px;
    border-radius: 20px;
    background: color(silver);
    &:after {
      content: '';
      position: absolute;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background: color(white);
      left: 1px;
      top: 1px;
      transition: .2s ease-in-out;
      box-shadow: 2px 0 3px rgba(0,0,0,0.2);
    }
    &:checked {
      background: color(primary);
      &:after {
        left: 23px;
        box-shadow: -2px 0 3px rgba(0,0,0,0.2);
      }
    }
  }
}
input[type="radio"] {
  &,
  &:checked::after {
    border-radius: 50%;
  }
}

// widget
.ozz-widget {
  padding: 24px;
  background: color(white);
  border-radius: $radius1;
  margin-bottom: auto;
  box-shadow: $shadow1;
  &__heading {
    position: relative;
    font-size: $font-semi-normal;
    margin: 0 0 24px;
    &:before {
      content: '';
      position: absolute;
      top: -5px;
      left: -24px;
      width: 3px;
      height: 30px;
      background: color(primary);
    }
  }
  &__item {
    &-raw {
      padding: 10px 0;
      &:not(:last-child) {
        border-bottom: 1px solid color(light1);
      }
      label {
        margin-right: 12px;
      }
      label,
      span {
        font-size: $font-normal;
      }
    }
  }
  // Forms inside widget
  .ozz-fm {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    &__field {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }
}
