// Dark theme
@mixin dark-skin-1 {
  background: color(dark1);
  border: 1px solid color(dark2);
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
@mixin dark-skin-2 {
  background: color(dark2);
  color: color(light1);
}
@mixin dark-skin-1-no-border {
  background: color(dark1);
}

body.ozz-cms[data-theme="dark"]{
  background: color(dark);
  color: color(light2);
  // Common
  .light-text {
    color: color(light1);
  }
  label {
    color: color(semi-blue);
  }
  // Checkbox / Radio
  input[type="radio"],
  input[type="checkbox"] {
    background: color(dark);
  }
  // Buttons
  .button {
    &.light {
      background-color: color(dark2);
      color: color(silver);
      border-color: rgba(color(gray1), 0.5);
      &:hover {
        background-color: rgba(color(gray2), 0.5);
        color: color(white);
      }
      &.active {
        background-color: color(primary);
        border-color: transparent;
        color: color(white);
      }
    }
    &.danger {
      background-color: color(danger);
      &:hover {
        background-color: color(danger-dark);
      }
    }
  }
  // Header
  .cms-header {
    background-color: color(dark1);
    border-bottom-color: transparent;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    &__info {
      background-color: color(dark2);
      .user-info {
        .light-text {
          color: rgba(color(silver), 0.7);
        }
      }
    }
    &__language-switch {
      &:after {
        background-color: color(dark1);
        border-color: color(dark2);
      }
      .dropdown {
        li {
          a {
            background: color(dark2);
            color: color(light2);
            &:hover {
              background: color(primary);
              color: color(white);
            }
          }
        }
      }
      .current-lang {
        &:after {
          filter: brightness(6);
        }
      }
    }
  }
  // CMS NAV
  .cms-nav {
    background: color(dark);
    border-right: 1px solid color(dark1);
    &__nav-collapse-trigger {
      background-color: transparent;
      filter: brightness(3);
      &:hover {
        filter: brightness(5);
      }
    }
    > ul {
      > li {
        &.active > a {
          background: color(dark1);
        }
        &:hover {
          > a {
            background: color(primary);
          }
        }
        > ul {
          border-right: 1px solid color(dark2);
        }
      }
    }
    &.collapsed {
      > ul {
        > li {
          width: 45px;
        }
      }
    }
  }
  // Common alert bar
  .common-alert-bar {
    .message {
      background: rgba(color(dark1), 0.9);
    }
  }
  // breadcrumb
  .breadcrumb {
    span {
      &:before {
        filter: brightness(3);
      }
    }
    a {
      color: color(light2);
    }
  }
  // Listing 01
  .listing-s1 {
    &__top-bar {
      @include dark-skin-2;
      strong {
        color: color(light1);
      }
    }
    &__title {
      color: color(silver);
    }
    .table {
      &__tr-wrapper {
        @include dark-skin-1-no-border;
        box-shadow: 0 3px 6px rgba(0,0,0,0.2);
        &:hover {
          background: color(dark2);
          border-left-color: color(primary);
          .listing-s1__title {
            color: color(white);
          }
        }
      }
      &__cell {
        color: color(light2);
      }
      .slug {
        background: rgba(color(silver), 0.05);
        border: 1px solid color(dark2);
        color: color(silver);
        border-radius: 5px;
      }
      .note {
        color: color(silver);
      }
    }
  }
  // Listing 02
  .listing-s2 {
    &__header,
    &__empty {
      background: color(dark1);
    }
    table {
      thead {
        tr {
          background: color(dark2);
          th {
            color: color(gray2);
          }
        }
      }
      tbody {
        tr {
          background: color(dark1);
          td {
            .title {
              color: color(silver);
            }
          }
          &:hover {
            background: color(dark);
            td {
              .title {
                color: color(white);
              }
            }
          }
        }
      }
    }
  }
  // Post view
  .post-edit-view {
    &__widget {
      @include dark-skin-1;
      &.info {
        .item {
          color: color(light2);
          &:not(.available-translations, .language-duplicator, .delete-post) {
            border-bottom: 1px solid color(dark2);
          }
          strong {
            color: color(semi-blue);
          }
          &.separator {
            border-color: transparent;
          }
        }
        .form,
        .ozz-fm {
          border: none;
        }
      }
    }
  }
  // Forms
  .form,
  .ozz-fm {
    select,
    textarea,
    input {
      &:not([type="submit"]) {
        color: color(white);
        border-color: rgba(color(silver), 0.2);
        background: rgba(0,0,0,0.1);
      }
      &:not(input[type="submit"]) {
        &:focus {
          border-color: color(primary);
        }
      }
      &.error {
        border-color: color(danger);
      }
    }
    input[type="checkbox"] {
      &.switch {
        background: color(dark);
        border-color: rgba(color(semi-blue), 0.2);
        &:checked {
          background: color(primary);
        }
      }
    }
    &__repeat {
      border-color: rgba(color(silver), 0.1);
    }
    &__repeat-top {
      @include dark-skin-2;
    }
    &__repeat-label {
      color: color(light2);
    }
    &__repeat-head {
      background: rgba(color(dark2), 0.5);
      &:before,
      &:after {
        filter: brightness(5);
      }
    }
    &__repeat-number {
      color: color(silver);
    }
    &__repeat-remove {
      background: rgba(color(silver), 0.2);
      &:hover {
        background: color(danger);
      }
    }
  }
  // Block Editor
  .ozz-block-editor {
    background: color(dark);
    &__form-loader {
      &.empty {
        border-color: color(dark2);
        .ozz-block-editor__empty-block {
          color: rgba(color(semi-blue), 0.5);
        }
      }
      .ozz-used-block {
        @include dark-skin-1;
        .ozz-block-accordion-bar {
          & > div h4 {
            color: color(semi-blue);
          }
          .ozz-accordion-arrow {
            filter: brightness(5);
          }
          .ozz-block-actions {
            > span {
              background-color: color(dark1);
              border-color: color(dark2);
              &:hover {
                background-color: color(dark);
              }
            }
          }
        }
      }
      .sortable-ghost {
        background: color(dark1);
      }
      .ozz-handle {
        filter: brightness(1.3);
      }
    }
    &__block-picker {
      li {
        &.pick-block {
          background: color(dark2);
          &:before {
            filter: brightness(1.3);
          }
          &:hover {
            background: color(primary);
          }
        }
      }
    }
  }
  .ozz-block-editor-wrapper {
    &.expanded {
      background: color(dark);
    }
  }
  // Media Manager
  .ozz-media-manager {
    &__breadcrumb,
    &__actions,
    &__viewer,
    &__media {
      @include dark-skin-1;
    }
    &__viewer {
      width: 320px;
      margin-left: 5px;
    }
    &__item {
      &-folder,
      &-file {
        border-color: color(dark2);
        .name {
          border-top-color: color(dark2);
          color: color(silver);
        }
      }
    }
    &__info-info {
      li {
        border-color: transparent;
        strong {
          color: color(semi-blue);
        }
      }
    }
    &__breadcrumb {
      &-home {
        filter: brightness(5);
      }
      a {
        color: color(semi-blue);
      }
    }
    &__pagination {
      border-top-color: transparent;
    }
    .form,
    .ozz-fm {
      border: none;
      background: transparent;
    }
  }
  // Media Popup
  .ozz-media-popup {
    &__thumbnail {
      border-color: color(dark2);
    }
    &__thumbnail-name {
      border-top-color: color(dark2);
    }
  }
  // Popup
  .ozz-cms-popup {
    &__box {
      @include dark-skin-1;
      #cms-popup-close {
        background-color: transparent;
        filter: brightness(5);
      }
      .form,
      .ozz-fm {
        border: none;
        background: transparent;
      }
    }
  }
  // Widget
  .ozz-widget {
    @include dark-skin-1;
    &__item {
      &-raw {
        border-color: color(dark2);
      }
    }
    .form,
    .ozz-fm {
      border: none;
    }
  }
}