// Listing type 1
.listing-s1 {
  &__title {
    font-family: $rub;
    font-size: $font-normal;
  }
  .note {
    padding-top: 8px;
    display: block;
  }
  .slug {
    padding: 3px 6px;
    border-radius: 3px;
    font-size: $font-small-2;
    color: color(dark);
    background: color(light2);
    border: 1px solid color(silver);
  }
  &__top-bar {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    margin-bottom: 4px;
    background: color(white);
    color: color(dark);
    box-shadow: $shadow1;
    border-radius: 3px;
    font-size: $font-small-3;
    strong {
      color: color(primary-dark);
    }
    .align-right {
      text-align: right;
      &:last-of-type {
        translate: 10px 0;
      }
    }
    .align-left {
      text-align: left;
    }
  }
  table {
    border-collapse: separate;
    border-spacing: 0 1px;
    width: 100%;
    tr {
      border-left: 2px solid color(primary);
      box-shadow: $shadow1;
      &:hover {
        td {
          background: color(light2);
        }
      }
    }
    th,
    td {
      text-align: left;
      font-weight: normal;
      vertical-align: middle;
      &:first-of-type {
        border-radius: 3px 0 0 3px;
      }
      &:last-of-type {
        border-radius: 0 3px 3px 0;
      }
    }
    th {
      padding: 5px 10px 5px 16px;
      font-family: $rub-m;
      font-size: $font-small-2;
      background: color(light2);
      color: color(dark2);
    }
    td {
      padding: 10px 10px 10px 16px;
      background: color(white);
      &:first-of-type {
        border-left: 2px solid color(primary);
      }
      &.link-wrap {
        position: relative;
        &:hover {
          .listing-s1__title {
            color: color(primary);
          }
        }
        a {
          &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
          }
        }
      }
    }
    .actions {
      width: min-content;
    }
  }
  .align-center {
    text-align: center;
  }
  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }
}

// Listing type 2
.listing-s2 {
  &__header {
    background: color(white);
    padding: 8px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
  }
  &__filter {
    .tab-button {
      margin-right: 5px;
    }
  }
  table {
    border-collapse: separate;
    border-spacing: 0 1px;
    width: 100%;
    thead {
      position: sticky;
      top: 46px;
      z-index: 100;
      tr {
        background: color(light2);
        padding: 14px;
        th {
          font-size: $font-small-2;
          text-align: left;
          padding: 5px 14px;
          color: color(dark2);
        }
      }
    }
    tbody {
      tr {
        position: relative;
        background: color(white);
        box-shadow: 0 2px 2px rgba(0,0,0,0.1);
        cursor: pointer;
        .row-number {
          padding: 14px;
          margin-top: 2px;
          color: color(gray1);
        }
        &:hover {
          background: color(light2);
          .title {
            color: color(primary);
          }
          .tr-action {
            .show-on-hover {
              display: flex;
            }
          }
        }
        td {
          padding: 10px 14px;
          border: none;
          .title {
            font-size: $font-small-3;
            color: color(dark);
          }
        }
        .anchor-wrapper {
          position: absolute;
          display: inline-block;
          left: 0;
          top: 0;
          width: calc(100% - 200px);
          height: 100%;
        }
      }
      .tr-action {
        text-align: right;
        padding: 3px 8px 0 0;
        .show-on-hover {
          display: none;
          justify-content: right;
          gap: 0 6px;
        }
      }
    }
  }
  .action-form {
    button {
      cursor: pointer;
      padding: 0;
      border: none;
      background: transparent;
    }
  }
  &__empty {
    padding: 42px 24px;
    text-align: center;
    color: color(gray1);
    background: color(white);
  }
}
