.ozz-media-popup {
  &__grid-wrap {
    height: 74vh;
    overflow-y: auto;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(8, 130px);
    grid-gap: 20px;
    margin: 5px;
  }
  &__submit {
    text-align: right;
  }
  &__thumbnail {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 25px;
    border: 1px solid color(silver);
    border-radius: 5px;
    opacity: 0.6;
    &:hover,
    &.active {
      opacity: 1;
      input[type="checkbox"] {
        display: block;
      }
    }
    &:hover {
      box-shadow: 0 0 0 2px rgba(color(blue), 0.3);
    }
    &.active {
      box-shadow: 0 0 0 2px color(blue);
    }
    * {
      font-size: $font-small-1;
    }
    input[type="checkbox"] {
      position: absolute;
      display: none;
      row-gap: 5px;
      right: 0;
      &:checked {
        display: block;
      }
    }
    iframe,
    object,
    img {
      border: none;
      outline: none;
    }
    object,
    img {
      max-width: 100%;
      max-height: 100%;
      height: 130px;
      object-fit: contain;
    }
    iframe {
      width: 130px;
      height: 130px;
    }
    object {
      pointer-events: none;
    }
    &-name {
      padding: 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      border-top: 1px solid color(silver);
      color: color(gray1);
    }
  }
}
