body.ozz-cms {
  // Settings View
  &.settings {
    .profile-image {
      border: 5px solid color(light1);
      border-radius: 50%;
      overflow: hidden;
      width: 90px;
      height: 90px;
      img {
        width: 85px;
        height: 85px;
        object-fit: cover;
        text-align: center;
        object-position: center;
        font-size: $font-small;
      }
    }
  }
}
